/* TNA Law office Style 
    goldenrod: #DAA520
    
    
*/


@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,700,700i');

body {
    font-family: 'Open Sans', sans-serif; font-size: 16px; font-weight: 300; color: #555; margin: 0; padding: 0;
}

#page {}

/* Text */

h1 {margin: 0 0 1em 0; font-size: 2.8em; font-weight: 700;}
h2 {margin: 0 0 .5em 0; font-size: 1.6em; font-weight: 700; line-height: 1.1em;}
h3 {margin: 0 0 .5em 0; font-size: 1.3em; font-weight: 700;}
h4 {margin: 0 0 1.5em 0; font-size: 1em; font-weight: 700;}

p { 
    margin: 0 0 1em 0; 
}

/* Section - ALL*/


/*
section {padding: 0 30px;}
section::after { content: ''; display: block; clear: both; }
*/


/* Section - Law Focus */

/*
section.law-focus {
    margin-bottom: 30px; padding: 0;
}

section.law-focus aside {
    width: 49%; float: left; text-align: center;
}

section.law-focus .content {margin: 15px; background: no-repeat center top; background-size: 75px 75px; padding-top: 85px;}

section.law-focus .content h3 a {color: #555; text-decoration: none;}
section.law-focus .content h3 a:hover { text-decoration: underline; }
*/

/*
section.law-focus  .content.bankruptcy {background-image: url(../images/bills.jpg);}
section.law-focus  .content.real-estate { background-image: url(../images/house.svg); }
*/

.hero {
    text-align: center;
    text-transform: capitalize;
    display: block;
    width: 300px;
}


nav .nav-item  {
    color: gold; 
    margin-right: 5px;
}

nav .nav-item:hover {
    color: #000;
    background-color: gold;
    transition: all 0.4s ease 0s;
    border-radius: 10px;
}

nav .active {
    color: #fff;
    border-radius: 10px;
    border: 2px gold solid;
}

.navbar {
    background-color: #000;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon  {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,215,0, .85)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
   border: 1px solid rgba(255, 215, 0, 0.98);
   border-radius: 3px;
}

.dropdown-menu {
    background-color: #000;
}

.dropdown-menu .active {
    background-color: #000;
    color: #fff;
}

.dropdown-menu > a {
   color: gold;
}

.dropdown-menu > a:hover {
   color: #000;
}

.navbar-brand {
    width: 30%;
    min-width: 186px;
    }

.content > h1 {
    text-transform: capitalize;
    text-align: center;
}


.map-responsive{
    overflow:hidden;
    padding-bottom:50%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.jumbotron {
    margin-top: 20px;
    color: #9a9a9a;
    background-color: #000;
    border: solid #af9500;
    text-align: center;
    text-transform: capitalize;
    width: 100%;
    padding: 10px;
}

.jumbotron img {
    width: 260px;
    padding-bottom: 20px;
}

.carousel {
    width:640px;
    height:100%;
    margin: 25px auto 25px auto;
    overflow: hidden;
}

.card {
    width: 20rem;
    
}

.bankruptcy > h1 h3 {
    text-decoration: underline;
    text-transform: capitalize;
    text-align: center;
}

.realestate {
    text-align: center;
    display: block;
    overflow: hidden;
}

.realestate > h1 {
    text-align: center;
    display: block;
    overflow: hidden;
    padding-top: 10px;
    
}

.law-focus h5{
    font-size: 1.8rem;
    font-weight: 700;
}

.law-focus p {
    font-size: 1.3rem;
}

/* Footer */


footer { font-size: .7em; margin: 40px; color: #999; }

footer .content {display: inline;}

footer a { margin-left: 30px; color: #777; }
footer a:visited { color: #777; }
footer a:hover { color: #000; }



.fixed-bottom {
    display: block;
    text-align: center;
    color: #ddd;
    font-weight: 700;
    
}

.fixed-bottom a {
    text-decoration: none;
    color: gold;
}



.debug {border: dashed blue;}

@media screen and (max-width:1024px) {
    header {background: black;
    }
}

@media screen and (max-width:834px) {
    header {background: black;
    }
}

@media screen and (max-width:767px) {
    .card {
        width: 23rem;
    }
}

@media screen and (max-width:414px) {
     .card {
        width: 21rem;
    }
}

@media screen and (max-width:375px) {
    .card {
        width: 20rem;
    }
}

@media screen and (max-width:320px) {
    .card {
        width: 18rem;
    }
}
