/* TNA Law office Style 
    goldenrod: #DAA520
    
    
*/


@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,700,700i');

body {
    font-family: 'Open Sans', sans-serif; font-size: 16px; font-weight: 300; color: #555; margin: 0; padding: 0;
}

#page {max-width: 1200px; margin: 0 auto; position: relative;}

/* Text */

h1 {margin: 0 0 1em 0; font-size: 2.8em; font-weight: 700;}
h2 {margin: 0 0 .5em 0; font-size: 1.6em; font-weight: 700; line-height: 1.1em;}
h3 {margin: 0 0 .5em 0; font-size: 1.3em; font-weight: 700;}
h4 {margin: 0 0 1.5em 0; font-size: 1em; font-weight: 700;}

p { margin: 0 0 1em 0; }

a { color: #007eff; }
a:visited { color: #65b1ff; }

/* Header */

header { height: 160px;
    background: #000;
    position: relative;
     }
header a.logo {
    z-index: 0;
    position: absolute;
    display: block; width: 300px; height: 120px;
    background: url(../images/logo_tna.png) no-repeat 0 0; background-size: contain;
    top: 20px; left: 20px;
    z-index: 0;
}

header a.logo span {display: none;}

header div.law-firm {position: absolute; width: 42%; top:130px;}




/* Section - ALL*/

section {padding: 0 30px;}
section::after { content: ''; display: block; clear: both; }


/* Section - Law Focus */

section.law-focus {
   margin-top: 20px; margin-bottom: 30px; padding: 0;
}

section.law-focus aside {
    width: 49%; float: left; text-align: center;
}

section.law-focus .content {margin: 15px; background: no-repeat center top; background-size: 75px 75px; padding-top: 85px;}

section.law-focus aside h3 a {color: #555; text-decoration: none;}
section.law-focus aside h3 a:hover { text-decoration: underline; }

section.law-focus aside .content.bankruptcy {background-image: url(../images/dollar-sign.svg);}
section.law-focus aside .content.real-estate { background-image: url(../images/house.svg); }


.navbar > a {
    color: #DAA520;
}

nav > a:hover {
    color: #9a9a9a;
}

nav .active {
    text-decoration: underline;
    color: #af9500;

}

.navbar {
    background-color: #000;
}

.dropdown-menu {
    background-color: #000;
}

.dropdown-menu > a {
   color: #af9500;
}

.dropdown-menu > a:hover {
   color: #9a9a9a;
}

.navbar-brand {
    width: 30%;
    }

.map {
    text-align: center;
    width: 100%;
}

.jumbotron {
    color: #9a9a9a;
    background-color: #000;
    border: solid #af9500;
}






/* Footer */


footer { font-size: .7em; margin: 40px; color: #999; }

footer .content {display: inline;}

footer a { margin-left: 30px; color: #777; }
footer a:visited { color: #777; }
footer a:hover { color: #000; }


.debug {border: dashed;}

@media screen and (max-width:1024px) {
    header {background: black;
    }
}

@media screen and (max-width:834px) {
    header {background: black;
    }
}

@media screen and (max-width:768px) {
    header {background: black;
    }
}

@media screen and (max-width:414px) {
    header {background: black;
    }
}

@media screen and (max-width:375px) {
    header {background: black;
    }
}

@media screen and (max-width:320px) {
    header { height: 75px;
    background: black;
    position: relative;
    }
    header a.logo {
    z-index: 0;
    position: absolute;
    display: block; width: 160px; height: 56px;
    background: url(../images/logo_tna.png) no-repeat 0 0; background-size: contain;
    top: 7px; left: 10px;
    }
}
