/* TNA Law office Style 
    goldenrod: #DAA520
    
    
*/


@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,700,700i');

body {
    font-family: 'Open Sans', sans-serif; font-size: 16px; font-weight: 300; color: #555; margin: 0; padding: 0;
}

#page {
}

/* Text */

h1 {margin: 0 0 1em 0; font-size: 2.8em; font-weight: 700;}
h2 {margin: 0 0 .5em 0; font-size: 1.6em; font-weight: 700; line-height: 1.1em;}
h3 {margin: 0 0 .5em 0; font-size: 1.5em; font-weight: 700;}
h4 {margin: 0 0 .5em 0; font-size: 1.4em; font-weight: 700; }

p { 
    margin: 0 0 1em 0; 
}

.hero {
    text-align: center;
    text-transform: capitalize;
    display: block;
    width: 400px;
}

.heading {
    text-align: center;
}

.heading-dark {
    text-align: center;
    color: #fff;
    background-color: #555;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.box-it {
    box-shadow: 1px 1px 5px #666;
    padding: 20px;
    text-align: justify;
    margin: 20px;
}

nav .nav-item  {
    color: gold; 
    margin-right: 5px;
}

nav .nav-item:hover {
    color: #000;
    background-color: gold;
    transition: all 0.4s ease 0s;
    border-radius: 10px;
}

nav .active {
    color: #fff;
    border-radius: 10px;
    border: 2px gold solid;
}

.navbar {
    background-color: #000;
}

.navbar-toggler {
    border: 1px solid rgba(255, 215, 0, 0.98);
    border-radius: 3px;
}

.navbar-toggler-icon  {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,215,0, .85)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler:hover {
    border: 1px solid silver;
    border-radius: 3px;
}

.dropdown-menu {
    background-color: #000;
}

.dropdown-menu .active {
    background-color: #000;
    color: #fff;
}

.dropdown-menu > a {
   color: gold;
}

.dropdown-menu > a:hover {
   color: #000;
}

.navbar-brand {
    width: 30%;
    min-width: 186px;
    }

.content > h1 {
    text-transform: capitalize;
    text-align: center;
}

.content {
    text-align: justify;
}

article.about {
    margin: 0px 0px 0px 0px;
    color: red;
}

.map-responsive {
    border: 1px groove gold;
}

.jumbotron {
    margin-top: 20px;
    color: #9a9a9a;
    background-color: #000;
    box-shadow: inset 2px 2px 15px gold;
/*     border: solid #af9500; */
    text-align: center;
    text-transform: capitalize;
    width: 100%;
    padding: 10px;
}

.jumbotron img {
    width: 260px;
    padding-bottom: 20px;
}

.jumbotron a {
    color: gold;
}

.carousel  {
/*     width:640px; */
    width: 85%;
    min-width: 320px;
    height:100%;
    margin: 25px auto 25px auto;
    overflow: hidden;
    color: gold;
    border-radius: 5px;
}


.carousel-caption  {
    height: 65px;
    margin: 5px;
    padding: 0px;
    color: gold;
    background-color: rgba(10, 10, 10, 0.59);
    background-repeat: no-repeat;
    display: block;
    text-align: center;
    border-radius: 15px;
    position: absolute;
    top: 0; bottom: auto;
}

.carousel-caption > h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}
    
.carousel-caption > p{
    font-weight: 700;
    font-style: italic;
}

.bankruptcy-page.carousel img {
    width: 55%; height: 60%;
}

.svg-container { 
	display: inline-block;
	position: relative;
	width: 100%;
	padding-bottom: 100%; 
	vertical-align: middle; 
	overflow: hidden; 
}

.svg-content { 
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
}



.card {
    width: 20rem;
    margin-bottom: 25px;
    
}

.card .card-text {
    text-align: justify;
}

.card .card-img-top {
    box-shadow: 1px 1px 5px #666;
    }

.real-estate-page.card  {
    width: 85%;
    display: block;
    text-align: center;
}

.bankruptcy-page.card {
    width: 49%;
    min-width: 320px;
}

.real-estate-page.card h5 {
    font-size: 2rem;
}

.comment-section {
    box-shadow: 1px 2px 5px #666;
    text-align: justify;
    padding: 50px;
    margin: 15px 0px 15px 0px;
}

.comment-section h2 {
   text-align: center;
}


.btn-outline-light {
    background-color: #fff;
    color: #000;
    border: 1px solid gold;
}

.btn-outline-light:hover {
    background-color: rgba(255, 217, 0, 0.35);
    border: 1px solid gold;
    color: #000;
}

.btn-outline-light:active, .btn-outline-light.active, .open {
    background-color: red;
    border: 1px solid black;
}

.btn-link {
    color: #000;
}

.btn-link:hover {
    color: silver;
}

.bankruptcy > h1 h3 {
    text-decoration: underline;
    text-transform: capitalize;
    text-align: center;
}

.realestate {
    text-align: center;
    display: block;
    overflow: hidden;
}

.realestate > h1 {
    text-align: center;
    display: block;
    overflow: hidden;
    padding-top: 10px;
    
}

#in-depth-desc h2{
    text-align: center;
    font-size: 1.5rem;
}

#in-depth-desc p{
    text-align: justify;
}

.law-focus h5{
    font-size: 1.8rem;
    font-weight: 700;
}

.law-focus p {
    font-size: 1.1rem;
}

/* FOOTER */
footer {
    background-color: #000000;
    padding: 20px 0px 60px 0px;
    color: silver;
    font-size: .8em;
}

footer a {
    color: gold;
    text-decoration: none;
}

footer h4 {
    text-decoration: underline;
    font-weight: 700;
    font-size: 1.3rem;
}

footer a:hover {
    color: #000;
    background-color: gold;
    border-radius: 5px;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

footer .column {margin-bottom: 20px;}
footer .content{text-align: justify;}

.copyright{margin-top: 25px;}

.disclaimer {font-size: .7rem;}

.text-muted {
    font-size: .8em;
}


.fixed-bottom {
    display: block;
    text-align: center;
    color: #ddd;
    font-weight: 700;
    
}

.fixed-bottom a {
    text-decoration: none;
    color: gold;
}

.fixed-bottom .phone {
    border: 1px outset #000;
    padding: 1px 5px 1px 5px;
    border-radius: 5px;
    background-color: gold;
    color: #000;
    margin: 0 5px 0 3px; 
    
}

.fixed-bottom .phone:hover {
    background-color: #000;
    border: 1px outset gold;
    padding: 1px 5px 1px 5px;
    border-radius: 5px;
    color: #fff;
}

address{
    font-size: 1.1rem;
}

.developer a {
    color: #ccc;
}

.developer a:hover {
    color: #fff;
    background-color: #000;
}


.debug {border: dashed blue;}
.debug_red {border: dashed red;}
.debug_yellow {border: dashed yellow;}
.debug_purple {border: dashed purple;}




@media screen and (max-width:1024px) {
    header {background: black;
    }
}

@media screen and (max-width:834px) {
    header {background: black;
    }
}

@media screen and (max-width:767px) {
    .card {
        width: 23rem;
    }
}

@media screen and (max-width:414px) {
     .card {
        width: 21rem;
    }
}

@media screen and (max-width:375px) {
    .card {
        width: 20rem;
    }
    .carousel{
        width: 300px;
        bor
    }
}

@media screen and (max-width:320px) {
    .card {
        width: 18rem;
    }
    .carousel {
        width: 280px;
        border: 0px solid #e21111;
    }
}
